@use "colors";
@use "functions";

// colors
$scrollbar-track-background: colors.color(red, 300);
$scrollbar-thumb-background: colors.color(red, 500);
$scrollbar-thumb-background-hover: colors.color(red, 600);

/* sizes */
$margin: 1rem;
$padding: 1em;
$maxWidth: functions.px-to-rem(960px);

$fs-sm: .76em;
$fs-md: 1em;
$fs-lg: 1.29em;
/* sizes react*/
$margin: .618rem;
$padding: .618rem;
$maxWidth: 1333px;

// speed
$duration: 0.3s;
$duration-sm: 160ms;
$duration-md: 320ms;


/* font weights */
$fw-sm: 400;
$fw-md: 500;
$fw-lg: 700;

/* box model */
$border: 1px solid colors.color(brown, 900);
$border-radius: 5px;
$fontStackSans: 'Open Sans', sans-serif;
$fontStackSerif: 'Georgia', serif;

$ease: ease-in-out;

$max-width: 70ch;

$spacer-xs: .47em;
$spacer-sm: .76em;
$spacer-md: 1em;
$spacer-lg: calc($spacer-md * 1.618);

$btn-spacing-sm-btn: functions.px-to-rem(36px); // 36-48
$btn-spacing-md-btn: functions.px-to-rem(24px); // 24-36
$btn-spacing-lg-btn: functions.px-to-rem(12px); // 12-24



/* animations */
$softIn: softIn .33s ease-in;

//factors
$goldenRatio: 1.618;
$goldenRatioDecrease: 0.618;
$large: 0.618;
$small: 0.382;
$largePercent: 61.8%;
$smallPercent: 38.2%;
$goldenPercent: 76%;
$smaller: 0.76;

$grp: 1.618%;
$grp2: 2.618%;
$grp3: 4.236%;
$grp4: 6.854%;
$grp5: 11.089%;
$grp6: 17.942%;
$grp7: 29.03%;
$grp8: 46.971%;
$grp9: 75.999%;
$grp10: 122.966%;
$grp11: 198.959%;

$sizes: (
  000: 0.12em,
  100: 0.18em,
  200: 0.29em,
  300: 0.47em,
  400: 0.76em,
  500: 1em,
  600: 1.382em,
  700: 1.618em,
  800: 4.236em,
  900: 6.854em,
  1000: 11.089em,
);

@function size($keys...) {
  $value: $sizes;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}

$fib: 1;
$fib: 2;
$fib: 3;
$fib: 5;
$fib: 8;
$fib: 13;
$fib: 21;
$fib: 34;
$fib: 55;
$fib: 89;
$fib: 144;

$fibonacci: (
  step0: 1,
  step1: 2,
  step2: 3,
  step3: 5,
  step4: 8,
  step5: 13,
  step6: 21,
  step7: 34,
  step8: 55,
  step9: 89,
  step10: 144,
);

@function fibonacci($keys...) {
  $value: $fibonacci;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}