@use "abstracts";
@use "vendors";
@use "components";
@use "base";
@use "pages";
@use "utilities";
@use "layouts";

button {
  @include components.button;
}

.link-as-button {
  @include components.link-as-button;
}

/* Blockquotes */
.blockquote {
  border-left: 3px solid abstracts.color(brown, 300);

  blockquote {
    padding-left: abstracts.$spacer-md;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  cite {
    display: block;
    font-size: abstracts.size(400);
    font-style: italic;
    line-height: abstracts.size(600);
    color: abstracts.color(brown, 500);
    margin-top: abstracts.size(400);
    padding-left: abstracts.$spacer-md;

    &:before {
      content: "\2014 \0020";
    }
  }
}

.main {
  @include abstracts.flow;
}