[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
python-decouple = "*"
fontawesomefree = "==6"
django-embed-video = "*"
requests = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-stubs = "*"
django-vite = "*"

[dev-packages]

[requires]
python_version = "3.12"
