<!--
  Using button in the link allows for different
  behaviours in different contexts
-->
<ul class="nav__ul">
  <li class="nav__item">
    <section>
      <!-- button or anchor tag, class="nav__item-header" -->
      {% include "partials/_nav-item-header.html" with type=type label="Find  Us" href="/schedule" icon="fa-magnifying-glass" %}

      <ul class="nav__item-list nav__item-left">
        <li>
          <a class="link marquee__text" href="/schedule">Schedule</a>
        </li>
        <li>
          <a class="link marquee__text" href="/contact">Contact</a>
        </li>
        <li>
          <a class="link marquee__text" href="/contact#subscribeform">Subscribe to our newsletter</a>
        </li>
      </ul> 
    </section>
  </li>

  <li class="nav__item">
    <section>
      <!-- button or anchor tag, class="nav__item-header" -->
      {% include "partials/_nav-item-header.html" with type=type label="I Love Paris" href="/i-love-paris" icon="fa-heart" %}

      <ul class="nav__item-list">
        <li>
          <a class="link marquee__text" href="/i-love-paris">I Love Paris</a>
        </li>
      </ul>
    </section>
  </li>

  <li class="nav__item">
    <section>
      {% url 'core:band' as band_url %}
      <!-- button or anchor tag, class="nav__item-header" -->
      {% include "partials/_nav-item-header.html" with type=type label="The Band" href=band_url icon="fa-users" %}
      
      <ul class="nav__item-list">
        <li>
          <a class="link marquee__text" href="{% url 'core:band' %}">the Band</a>
        </li>
        <li>
          <a class="link marquee__text" href="{% url 'core:band' %}#musicians">the Musicians</a>
        </li>
      </ul>
    </section>
  </li>

  <li class="nav__item">
    <section>
      {% url 'core:songs' as song_url %}

            <!-- button or anchor tag, class="nav__item-header" -->
      {% include "partials/_nav-item-header.html" with type=type label="The Music" href=song_url icon="fa-music" %}
      <ul class="nav__item-list">
        <li>
          <a class="link marquee__text" href="{% url 'core:songs' %}#genre">the Genre</a>
        </li>
        <li>
          <a class="link marquee__text" href="{% url 'core:songs' %}#songlist">Songlist</a>
        </li>
      </ul>
    </section>
  </li>

  <li class="nav__item">
    <section>
      <!-- button or anchor tag, class="nav__item-header" -->
      {% include "partials/_nav-item-header.html" with type=type label="Store" href="/store" icon="fa-store" %}
      {% comment %} <ul class="nav__item-list nav__item-right"></ul> {% endcomment %}
      <ul class="nav__item-list nav__item-right">
        <li>
          <a class="link marquee__text" href="/schedule">Schedule</a>
        </li>
        <li>
          <a class="link marquee__text" href="/contact">Contact</a>
        </li>
        <li>
          <a class="link marquee__text" href="/contact">Subscribe to our newsletter</a>
        </li>
      </section>
    </ul>
  </li>
</ul>