<aside class="page-menu">
  <nav class="page-menu__container">

    <ul class="menu__container-ul">
      <li>
        <h5>Find Us</h5>
        <ul>
          <li>
            <a href="/schedule">Schedule</a>
          </li>
          <li>
            <a href="/contact#contact">Contact</a>
          </li>
          <li>
            <a href="/contact#newsletter__subscribe">Subscribe to our newsletter</a>
          </li>
        </ul>
      </li>
      <li>
        <h5>I Love Paris</h5>
        <ul>
          <li>
            <a href="/iloveparis">I Love Paris</a>
          </li>
        </ul>
      </li>
      <li>
        <h5>The Band</h5>
        <ul>
          <li>
            <a href="/theband#band">the Band</a>
          </li>
          <li>
            <a href="/theband#musicians">the Musicians</a>
          </li>
        </ul>
      </li>
      <li>
        <h5>The Music</h5>
        <ul>
          <li>
            <a href="/theband/#genre">the Genre</a>
          </li>
          <li>
            <a href="songlist">Songlist</a>
          </li>
        </ul>
      </li>
    </ul>

  </nav>
</aside>