@use "../../backtalk/mixins";
@use 'sass:math';

.page-menu {
  perspective: 800px;
  perspective-origin: 0% 0%;

  @include mixins.respond-to("lg") {
    margin-block-start: var(--space-md);
    @include mixins.content-grid;

    .marquee {
      grid-column-end: full-width;
    }
  }
}

.marquee {
  $marquee-border: 1px solid var(--color-brown-500);
  position: relative;
  @include mixins.border-ghost;
  transform-style: preserve-3d;
  // transform: translateX(2rem) rotateY(10deg);
  width: 100%;
  height: max-content;
  min-width: max-content;
  transform-origin: left top;

  &:hover {
    // transform: rotateY(2deg);
  }

  .marquee__front {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-brown-900);
    border: $marquee-border;
    @include mixins.radius;
    overflow: hidden;

    .marquee__head {
      display: none;
    }

    @include mixins.respond-to("md") {
      .marquee__head {
        display: none;
      }

      .marquee__body {
        width: 100%;
      }

      .marquee__body .page-menu__nav .nav__ul {
        display: flex;

        .nav__item {
          flex: 1 0;
        }
      }
    }

    @include mixins.respond-to("lg") {
      max-width: 26rem;
      margin-inline-start: auto;

      .marquee__head {
        display: block;
      }

      .marquee__body .page-menu__nav .nav__ul {
        display: block;
      }
    }
  }

  .marquee__spine {
    display: flex;
    // display: none;
    border: $marquee-border;
    position: absolute;
    top: 0;
    right: 100%;
    width: 2rem;
    height: 100%;
    background-color: var(--color-brown-900);
    transform: rotateY(-90deg);
    transform-origin: right center;
  }
}

.heading-wrapper {
  position: relative;
  @include mixins.padding-box;
  z-index: 0;

  .logo {
    flex-wrap: wrap;
    font-size: var(--text-sm);
    flex-direction: column;

    img {
      // flex: 0 1 100%;
    }

    @include mixins.respond-to("lg") {
      flex-direction: row;
      // font-size: var(--text-md);
    }
  }
}

.light-rack__instalation {
  display: flex;
  overflow: hidden;
}

.light-rack {
  $_bulb-thickness: .2em;
  $_offset: .18em;
  display: flex;
  margin: .1em;
  padding: .1em;
  background-color: #ffffff18;
  border: 1px dotted var(--color-brown-900);
  @include mixins.radius;

  .light-rack__bulb {
    background-color: var(--color-gold-600);
    @include mixins.radius;
    box-shadow: 0 0 .5em #ffffffbb;
    filter: drop-shadow(3px 3px #000000);
  }

  &.light-rack-horizontal {
    flex-direction: column;

    .light-rack__bulb {
      height: $_bulb-thickness;
      margin: $_offset 0;
    }
  }

  &.light-rack-verticle {
    flex-direction: row;

    :first-child {
      display: none;

      @include mixins.respond-to("lg") {
        display: block;
      }
    }

    .light-rack__bulb {
      width: $_bulb-thickness;
      margin: 0 $_offset;

    }
  }
}