@use "../../backtalk/mixins";

.viewer {
  position: relative;
  @include mixins.radius;
  @include mixins.shadow(1);
  overflow: hidden;
  max-height: min-content;

  :last-child {
    position: relative;
  }

  :first-child {
    opacity: 1;
  }

  &>* {
    position: absolute;
    width: 100%;
    opacity: 0;
  }

  img {
    width: 100%;
    @include mixins.radius;
  }
}

.show {
  animation: bring-forward 2s forwards;
}

.hide {
  animation: send-back 2s forwards;
}

@keyframes bring-forward {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes send-back {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}