@use "../../backtalk/mixins";

.album-player {
  .sticky {
    position: sticky;
    top: 0;
  }

  .player {
    @include mixins.box-modal;
    background: #f1f1f1;
  }

  .player .album-cover {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 20rem;

    @include mixins.respond-to("lg") {
      max-width: 22rem;
    }

    &>* {
      grid-column-start: 1;
      grid-column-end: 3
    }

    img {
      width: 100%;
      @include mixins.radius;
    }

    .record-wrapper {
      position: absolute;
      inset-block: 0;
      z-index: -1;
    }
  }

  .player .audio-controls {
    margin-block: var(--space-xs);

    .control-container {
      display: flex;
      gap: var(--space-md);
      justify-content: space-between;
    }

    button {
      @include mixins.button-ghost;
      border: transparent;
    }

    .primary-controls {
      display: flex;
      gap: var(--space-md);
      justify-content: space-evenly;

      .play-pause {
        .icon-pause {
          display: none;
        }

        &.is-playing .icon-play {
          display: none;
        }

        &.is-playing .icon-pause {
          display: inline-block;
        }
      }
    }

    .repeat-button {
      --active-color: var(--color-primary-50);

      &:hover:not(:disabled) {
        background: var(--color-neutral-100);
      }

      &.is-active {
        background: var(--active-color);

        &:hover:not(:disabled) {
          background: var(--active-color);
        }
      }
    }

    .progress-container {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
      font-family: var(--font-ui);
      font-size: var(--text-sm);
      font-weight: var(--font-weight-semibold);
    }

    .progress-bar {
      display: flex;
      flex-basis: 100%;
      height: var(--space-sm);
      background: var(--color-neutral-300);
      @include mixins.radius(xl);
      cursor: pointer;
    }

    .progress-fill {
      background: var(--color-primary-600);
      @include mixins.radius(xl);
      pointer-events: none;
    }
  }

  .player .current-title {
    display: block;
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    text-align: center;
  }

  .track__list {
    .track__title-button {
      display: flex;
      align-items: center;
      gap: var(--space-md);
      width: fit-content;
      padding-block: var(--space-sm);
      padding-inline-start: 0;
      color: var(--color-text);
      font-family: var(--font-ui);
      font-weight: var(--font-weight-semibold);
      text-align: start;
      background: transparent;
      border: none;

      &:disabled {
        color: inherit;
        font-style: inherit;
        cursor: default;
        opacity: 1;
      }
    }
  }
}