.date {
  font-style: italic;
  font-weight: 700;
  color: var(--color-primary-500);
}

.performance__time {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  font-weight: 600;

  &-start,
  &-end {
    color: inherit;
  }

  &-end {
    color: inherit;
  }

  &-to {
    font-style: italic;
    font-weight: 400;
    font-size: var(--text-sm);
  }
}