@use "../../backtalk/mixins";

.app__footer {
  position: relative;
  background: color-mix(in srgb, var(--color-brown-900) 90%, transparent);

  @include mixins.respond-to("md") {
    bottom: var(--space-sm);
  }
}

.footer__nav {
  display: flex;
  @include mixins.padding-box("sm");
  justify-content: space-evenly;

  @include mixins.respond-to("md") {
    display: none;
  }
}