@use "../../backtalk/mixins";

.page-menu__nav {
  display: flex;
  width: 100%;
  max-height: 100%;
  background-color: var(--color-gold-100);
  border: .5em solid var(--color-brown-900);
}

.marquee__text {
  display: inline-block;
  color: var(--color-brown-900);
  font-size: var(--text-lg);
  font-weight: 900;
  text-decoration: none;
  // filter: drop-shadow(2px 2px 1px color-mix(in srgb, var(--color-brown-900) 20%, transparent));
  background-color: transparent;
  box-shadow: unset;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--color-brown-100);
    box-shadow: 0 0 3px hsla(0, 0%, 0%, 25%);
    z-index: -1;
  }

  &:before {
    top: 20%;
  }

  &:after {
    bottom: 15%;
  }

  &:hover {
    box-shadow: unset;
  }
}

.page-menu__nav .nav__heading .marquee__text {

  @include mixins.respond-to("md") {
    font-size: var(--text-xl);
  }

  @include mixins.respond-to("lg") {
    font-size: var(--text-2xl);
  }
}


.nav__ul {
  display: flex;
  gap: var(--space-sm);
  margin: 0;
  padding: 0;
}

.page-menu__nav .nav__ul {
  display: block;
  width: 100%;
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-brown-100);
  font-family: var(--font-heading);
}

.page-menu__nav .nav__item {
  display: block;
  color: var(--color-red-800);
  text-align: center;
  margin-block-end: var(--space-md);
}

.nav__item-header .nav__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  text-decoration: none;
  cursor: pointer;
}

.page-menu__nav .nav__item-header {
  display: block;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
  padding: 0;

}

.nav__heading {
  font-size: inherit;
  color: inherit;
  margin: 0;
}

.page-menu__nav .nav__heading {
  margin: 0;
  position: relative;
  font-weight: bold;
  line-height: 1;
  z-index: 0;
}

.nav__item-list {
  position: absolute;
  display: none;
}

.page-menu__nav .nav__item-list {
  position: static;
  display: block;
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    font-size: var(--text-md);
    font-weight: bold;
    line-height: 1;
    z-index: 0;
  }
}

// .link {
//   // @include button.link-as-button(md, $bg-color: transparent);
//   display: flex; // overides link-as-button
//   justify-content: start; // overides link-as-button
//   text-decoration: underline; // overides link-as-button
// }