@use "../../backtalk/mixins";

#musicians {
  @include mixins.stack;
}

.musician__card {

  p:first-of-type {
    margin-block-start: 0;
  }

  .picture__musician {
    float: none;
    // width: 100%;
    margin-block-end: var(--space-md);

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  @include mixins.respond-to("sm") {
    .picture__musician {
      float: left;
      width: 15rem;
      margin-block-end: unset;
      margin-inline-end: var(--space-md);
    }
  }
}