@use "../../backtalk/mixins";

.feature {
  // display: block;
  // max-height: min-content;

  figure {
    margin: 0;
    @include mixins.border-ghost;

    figcaption {
      @include mixins.border-ghost;

    }

    blockquote {
      margin: 0;
      padding-inline-start: var(--space-3);
    }
  }
}

.subscribe,
.contact {

  a {
    @include mixins.button-primary;
  }
}

.flex-video {
  display: flex;
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
}

#front-page-testimonials {
  .testimonials {
    position: relative;
    min-height: min-content;
    overflow: hidden;

    :last-child {
      position: relative;
    }

    :first-child {
      transform: translateY(0);
    }

    &>* {
      position: absolute;
      min-height: 100%;
      margin: 0;
      transform: translateY(-100%);

      &.show {
        animation: bring-in 2s forwards;
      }

      &.hide {
        animation: send-out 1s forwards;
      }
    }
  }

  @keyframes bring-in {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes send-out {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(100%);
    }
  }
}