.ilp__presents {
  text-transform: uppercase;
}

.ilp__video-title {
  span:first-of-type {
    display: block;
    font-size: var(--text-xl);
  }

  span:last-of-type {
    font-size: var(--text-xl);
    font-style: italic;
  }
}

// Implement viewer
.picture-container {
  border: 3px solid black;
  overflow: hidden;
}

.moving-picture {
  animation: move 30s alternate infinite ease;
}

@media (prefers-reduced-motion) {
  .moving-picture {
    animation: none;
  }
}

@keyframes move {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

.ilp__song-list {
  li {
    font-weight: 500;
    padding-left: var(--space-xs);

    &::marker {
      font-size: var(--text-xs);
    }
  }
}