@use "../../backtalk/mixins";

.schedule {
  .heading-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: inline;
    }

    a {
      @include mixins.button-primary;
    }
  }

  .event-list {
    list-style: none;
    padding: 0;
    @include mixins.flow();
  }
}

.performance {
  padding-block: var(--space-md);
  border-bottom: 1px solid var(--color-brown-100);

  &:last-child {
    border-bottom: none;
  }

  &__title {
    a {
      color: inherit;
    }
  }

  &__details {
    display: block;
    font-weight: 600;
    @include mixins.flow;
  }
}

.performance-musicians__term {
  font-size: var(--text-sm);
}

.performance-musicians__description {
  margin-block-start: var(--space-sm);
  color: var(--color-primary-500);
}

.performance-musicians__list {
  margin: 0;
  padding: 0;
  list-style: none;

}