@use "../../backtalk/mixins";

.schedule {
  .heading-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: inline;
    }

    a {
      @include mixins.button-primary;
    }
  }

  .event-list {
    list-style: none;
    padding: 0;
    @include mixins.flow();
  }
}

.performance {
  border-bottom: 1px solid var(--color-brown-100);

  &:last-child {
    border-bottom: none;
  }

  &__title {
    margin: 0;

    a {
      color: inherit;
    }
  }

  &__details {
    display: block;
    font-weight: 600;
    @include mixins.flow;

    dt {
      font-size: var(--text-sm);
    }

    dd {
      margin: 0;
      color: var(--color-red-500);
    }

    address {
      span {
        display: inline-block;
        white-space: nowrap;
      }
    }
  }

  &__musicians {
    margin: 0;
    list-style: none;
  }
}