@use "../../backtalk/mixins";

.genre-content {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--space-md);

  picture {
    float: none;
    width: 100%;

    img {
      @include mixins.radius;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  @include mixins.respond-to("sm") {
    display: block;

    picture {
      float: left;
      width: 12rem;
      margin-block-end: unset;
      margin-inline-end: var(--space-md);
    }
  }



}