@use "sass:map";
@use "../config";
@use "accent";
@use "neutral";
@use "feedback";

$accent-map: accent.generate(config.$colors, config.$color-scheme);
$neutral-map: neutral.generate(config.$colors);
$feedback-map: feedback.generate(config.$colors);

$colors: map.merge(config.$colors,
        map.merge($accent-map,
            map.merge($neutral-map,
                $feedback-map)));