@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* colors, sass */
/* fonts */
/* sizes */
/* font weights */
/* sizes react*/
/* box model */
/* animations */
/**
 * Computes a top-shadow
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link https://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  min-height: 60px;
  font-weight: 500;
  color: #bcb8ac;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  background-color: hsl(110deg, 15%, 30%);
  padding: 0.76em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 320ms ease-in-out;
  transition: all 320ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.button:hover, .button:focus {
  background: #324130;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.button:focus {
  outline: thin dotted #bcb8ac;
  outline-offset: 0.12em;
}
.button:active {
  background: #0b0f0b;
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
}
.button:hover:disabled {
  letter-spacing: normal;
}
.button:disabled {
  cursor: not-allowed;
}

.link-as-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  min-height: 60px;
  font-weight: 500;
  color: #bcb8ac;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  background-color: hsl(110deg, 15%, 30%);
  padding: 0.76em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 320ms ease-in-out;
  transition: all 320ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.link-as-button:hover, .link-as-button:focus {
  background: #324130;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.link-as-button:focus {
  outline: thin dotted #bcb8ac;
  outline-offset: 0.12em;
}
.link-as-button:active {
  background: #0b0f0b;
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
}
.link-as-button:hover {
  text-decoration: underline;
}
.link-as-button:hover i {
  text-decoration: none;
}

.curtain {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}
.curtain__panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: hsl(0deg, 15%, 30%);
  border: 2px solid #251c1c;
  width: 50vw;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
.curtain__panel .curtain__fold {
  width: 100%;
  background: repeating-linear-gradient(to left, #392a2a 0%, #968383 8%, #392a2a 15%);
  z-index: 3;
  opacity: 0.5;
  -webkit-box-shadow: -1em 0 1em hsla(50deg, 15%, 20%, 0.5);
          box-shadow: -1em 0 1em hsla(50deg, 15%, 20%, 0.5);
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  .curtain__panel .curtain__fold {
    background: repeating-linear-gradient(to left, #392a2a 0%, #968383 4%, #392a2a 10%);
  }
}
@media (min-width: 67.5rem) {
  .curtain__panel .curtain__fold {
    background: repeating-linear-gradient(to left, #392a2a 0%, #968383 3%, #392a2a 7.5%);
  }
}
.curtain__panel-left {
  -webkit-animation: liftLeftCurtain 1s 1.618s ease-in forwards;
          animation: liftLeftCurtain 1s 1.618s ease-in forwards;
}
.curtain__panel-right {
  -webkit-animation: liftRightCurtain 1s 1.618s ease-in forwards;
          animation: liftRightCurtain 1s 1.618s ease-in forwards;
}
.curtain__panel-right .curtain__fold {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@-webkit-keyframes liftLeftCurtain {
  0% {
    border-radius: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    border-radius: 0 0 500px 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes liftLeftCurtain {
  0% {
    border-radius: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    border-radius: 0 0 500px 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes liftRightCurtain {
  0% {
    border-radius: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    border-radius: 0 0 0 500px;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@keyframes liftRightCurtain {
  0% {
    border-radius: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    border-radius: 0 0 0 500px;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(0.9375rem + 0.390625vw);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-block-size: 100vh;
  font-family: "Georgia", serif;
  line-height: 1.47;
  color: #25231c;
  background-color: black;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-columns: 1fr;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  body {
    grid-template-columns: 1fr 1.618fr;
  }
}
body .scrollabel-content {
  overflow-y: auto;
  padding-bottom: 1em;
}
body .scrollabel-content::-webkit-scrollbar {
  width: 0.76em;
  /* Mostly for vertical scrollbars */
}
body .scrollabel-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: hsl(0deg, 15%, 30%);
}
body .scrollabel-content::-webkit-scrollbar-thumb:hover {
  border: 1px solid #25231c;
  background: #4c3838;
}
body .scrollabel-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.24);
  background: #7e6a6a;
}

a {
  color: #6d7e6a;
  text-decoration: underline;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

cite {
  font-size: 0.76em;
}

body,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote,
figcaption {
  max-width: 60ch;
}

:focus {
  outline: thin dotted #bcb8ac;
  outline-offset: 0.12em;
}

/* Blockquotes */
.blockquote {
  border-left: 3px solid #7e7a6a;
}
.blockquote blockquote {
  padding-left: 1em;
}
.blockquote blockquote::before {
  content: "“";
}
.blockquote blockquote::after {
  content: "”";
}
.blockquote cite {
  display: block;
  font-size: 0.76em;
  font-style: italic;
  line-height: 1.38em;
  color: hsl(50deg, 15%, 30%);
  margin-top: 0.76em;
  padding-left: 1em;
}
.blockquote cite:before {
  content: "— ";
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1,
.heading-1 {
  color: hsl(0deg, 15%, 30%);
  font-family: "Cuprum", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.06rem;
  -webkit-margin-before: 0.47rem;
          margin-block-start: 0.47rem;
  -webkit-margin-after: 0.47rem;
          margin-block-end: 0.47rem;
}

h2,
.heading-2 {
  color: hsl(0deg, 15%, 30%);
  font-family: "Cuprum", sans-serif;
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.04rem;
  -webkit-margin-before: 0.76rem;
          margin-block-start: 0.76rem;
  -webkit-margin-after: 0.76rem;
          margin-block-end: 0.76rem;
}

h3,
.heading-3 {
  color: hsl(0deg, 15%, 30%);
  font-family: "Cuprum", sans-serif;
  font-size: 1.38rem;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.02rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

h4,
.heading-4 {
  color: hsl(0deg, 15%, 30%);
  font-family: "Cuprum", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0;
  -webkit-margin-before: 1.38rem;
          margin-block-start: 1.38rem;
  -webkit-margin-after: 1.38rem;
          margin-block-end: 1.38rem;
}

h5,
.heading-5 {
  color: hsl(0deg, 15%, 30%);
  font-family: "Cuprum", sans-serif;
  font-size: 0.76rem;
  font-weight: 700;
  line-height: 1.76;
  letter-spacing: 0.12rem;
  -webkit-margin-before: 1.62rem;
          margin-block-start: 1.62rem;
  -webkit-margin-after: 1.62rem;
          margin-block-end: 1.62rem;
}

h6,
.heading-6 {
  color: hsl(0deg, 15%, 30%);
  font-family: "Cuprum", sans-serif;
  font-size: 0.47rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.18rem;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
}

.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid var(--light);
  border-color: var(--green) transparent var(--green) transparent;
  -webkit-animation: loaderspin 1.2s linear infinite;
          animation: loaderspin 1.2s linear infinite;
}

@-webkit-keyframes loaderspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loaderspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.newsletter-container > * + * {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.newsletter-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.input-group div {
  display: none;
}

.newsletter-form input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #25231c;
  border-radius: 5px;
  background: #fff;
  padding: 0.47em 0.76em;
}
.newsletter-form input::-webkit-input-placeholder {
  opacity: 47%;
}
.newsletter-form input::-moz-placeholder {
  opacity: 47%;
}
.newsletter-form input:-ms-input-placeholder {
  opacity: 47%;
}
.newsletter-form input::-ms-input-placeholder {
  opacity: 47%;
}
.newsletter-form input::placeholder {
  opacity: 47%;
}

.newsletter-form-label {
  line-height: 2;
}

.newsletter-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.newsletter-form .error {
  color: #7e6a6a;
  font-weight: 700;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.panel {
  border: 1px solid #25231c;
  border-radius: 5px;
  padding: 0 0.618rem 0.618rem;
  background: rgba(255, 255, 255, 0.96);
  background-blend-mode: color-dodge;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}
.panel > * + * {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.panel:hover {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

[data-testimonial] {
  position: relative;
  min-height: 8em;
  overflow: hidden;
}
[data-testimonial] :last-child {
  position: relative;
}
[data-testimonial] :first-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
[data-testimonial] > * {
  position: absolute;
  min-height: 100%;
  margin: 0;
  font-weight: 500;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
[data-testimonial] > *.show {
  -webkit-animation: bring-in 2s forwards;
          animation: bring-in 2s forwards;
}
[data-testimonial] > *.hide {
  -webkit-animation: send-out 1s forwards;
          animation: send-out 1s forwards;
}

@-webkit-keyframes bring-in {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bring-in {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes send-out {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes send-out {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
[data-viewer] {
  position: relative;
  border: 8px solid #fff;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
[data-viewer] :last-child {
  position: relative;
}
[data-viewer] :first-child {
  opacity: 1;
}
[data-viewer] > * {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.show {
  -webkit-animation: bring-forward 2s forwards;
          animation: bring-forward 2s forwards;
}

.hide {
  -webkit-animation: send-back 2s forwards;
          animation: send-back 2s forwards;
}

@-webkit-keyframes bring-forward {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bring-forward {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes send-back {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes send-back {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.theband__grid {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1.618fr; */
}

@media only screen and (min-width: 768px) {
  .theband__grid {
    grid-template-columns: 1.618fr 1fr;
  }
}
.musicians__grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 769px) {
  .musicians__grid {
    grid-template-columns: 1fr 1.618fr;
  }
}
.image-wrapper {
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 13em;
}

#musician-image__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13em 13em;
  grid-gap: 0.5em;
}

.image-wrapper picture {
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  border: var(--border);
  border-radius: var(--borderRadius);
}

.container {
  max-width: min(100% - 2em, 70ch);
  margin-inline: auto;
}

.feature {
  display: block;
}

.feature__inner {
  position: relative;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  .feature__inner {
    grid-template-columns: 1fr 1.618fr;
  }
  .feature__inner :last-child {
    grid-column: 1;
    grid-row: 1;
  }
}

.subscribe > .heading,
.contact > .heading {
  font-size: 1.38em;
}

.flex-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
}

/* ratio of 56.26% (height 9 ÷ width 16) because this is the default ratio for
 YouTube videos. However, other ratios can be used as well. */
.video__container > iframe {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
}

iframe {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
}

.schedule .heading-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule .heading-link-container h1 {
  display: inline;
}
.schedule .heading-link-container a {
  font-size: 0.76rem;
}
.schedule .events > * + * {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.schedule .events .performance {
  border-bottom: 1px solid #bcb8ac;
}
.schedule .events .performance:last-child {
  border-bottom: none;
}
.schedule .events .performance__date-time-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.schedule .events .performance__date {
  font-style: italic;
  font-weight: 700;
}
.schedule .events .performance__title {
  margin: 0;
  color: #3c4c38;
  font-family: "Georgia", serif;
  font-weight: bold;
}
.schedule .events .performance__venue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.76em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule .events .performance__venue h3 {
  display: inline;
  -webkit-margin-before: 0.47em;
          margin-block-start: 0.47em;
  -webkit-margin-after: 0.47em;
          margin-block-end: 0.47em;
}

.performance__time-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.performance__start,
.performance__end {
  color: hsl(110deg, 15%, 30%);
  font-size: 0.76em;
  font-weight: 500;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  .performance__start,
.performance__end {
    font-size: 1em;
  }
}

.performance__to {
  color: hsl(110deg, 15%, 30%);
  font-size: 0.76em;
  font-style: italic;
  font-weight: 400;
}

.genre__grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 769px) {
  .genre__grid {
    grid-template-columns: 1.618fr 1fr;
  }
}
.AlbumSale {
  display: grid;
  grid-template-columns: 1fr 1.68fr;
}

.album-sale__heading {
  grid-column: 1/3;
}

.PayPal {
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PayPal p {
  max-width: 50%;
}

.paypal__form-wrapper {
  display: block;
}

.paypal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 0.76em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.76rem;
  width: 100%;
  /* min-width: 7em; */
  border: 1px solid transparent;
  border-radius: 5px;
  color: #dddddd;
  background: hsl(110deg, 15%, 30%);
}

.paypal__btn:hover {
  cursor: pointer;
  border: 1px solid #3c4c38;
  background: #3c4c38;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.album__cover--container {
  -webkit-perspective: 100em;
          perspective: 100em;
  margin: 2em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.album-sale__cover {
  grid-column: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.album-sale__cover:hover {
  -webkit-transform: rotateX(-5deg);
          transform: rotateX(-5deg);
}

.albumlist {
  margin-top: 0;
  margin-bottom: 0;
}

.albumlist li:hover {
  color: #25231c;
}

.albumlist li {
  color: #25231c;
}

.track__list .track__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  min-height: 60px;
  font-weight: 500;
  color: #25231c;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.76em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 320ms ease-in-out;
  transition: all 320ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.track__list .track__title:hover, .track__list .track__title:focus {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.track__list .track__title:focus {
  outline: thin dotted #bcb8ac;
  outline-offset: 0.12em;
}
.track__list .track__title:active {
  background: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
}
.track__list .track__title:hover:disabled {
  letter-spacing: normal;
}
.track__list .track__title:disabled {
  cursor: not-allowed;
}
.track__list .track__title span,
.track__list .track__title i {
  pointer-events: none;
}
.track__list .track__title span {
  padding-right: 1em;
}
.track__list .track__title i {
  -webkit-transition: -webkit-transform 0.12s ease-in-out;
  transition: -webkit-transform 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out, -webkit-transform 0.12s ease-in-out;
}
.track__list .track__player {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.12s ease-in-out;
  transition: height 0.12s ease-in-out;
}
.track__list .show-player {
  height: 60px;
}

.site-background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/images/background-portrait-gtr-640-960.jpg");
}
@media screen and (orientation: portrait) and (min-width: 768px) {
  .site-background {
    background-image: url("/static/images/background-portrait-gtr-768-1024.jpg");
  }
}
@media screen and (orientation: landscape) {
  .site-background {
    background-image: url("/static/images/background-landscape-960-640.jpg");
  }
}
@media screen and (orientation: landscape) and (min-width: 768px) {
  .site-background {
    background-image: url("/static/images/background-landscape-1024-768.jpg");
  }
}

.main > * + * {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

footer {
  position: relative;
  background: rgba(0, 0, 0, 0.88);
  z-index: 1;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.47em 0.76em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
.footer__nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  min-height: 60px;
  font-weight: 500;
  color: #bcb8ac;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.76em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 320ms ease-in-out;
  transition: all 320ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.76rem;
}
.footer__nav a:hover, .footer__nav a:focus {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.footer__nav a:focus {
  outline: thin dotted #bcb8ac;
  outline-offset: 0.12em;
}
.footer__nav a:active {
  background: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
}
.footer__nav a:hover {
  text-decoration: underline;
}
.footer__nav a:hover i {
  text-decoration: none;
}
@media (min-width: 56.25rem) {
  .footer__nav {
    display: none;
  }
}

/* css for footlight values inverted!!! */
.footlights {
  position: absolute;
  bottom: 3em;
  left: 15%;
  right: 15%;
  z-index: -1;
  isolation: isolate;
  mix-blend-mode: darken;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  .footlights {
    bottom: -1rem;
  }
}
.footlights__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  background: #222222;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footlights__light-container {
  position: relative;
  width: 100%;
  height: 2.5rem;
  top: -4rem;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.footlights__light {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.3)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(75%, rgba(255, 255, 255, 0.3)), to(rgba(175, 53, 53, 0)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(175, 53, 53, 0) 100%);
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}
.footlights__can {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -1rem;
  width: 1.6em;
  height: 2.2em;
  border: 1px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #222222;
}
.footlights__can--max-left {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.footlights__can--left {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.footlights__can--center {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.footlights__can--right {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.footlights__can--max-right {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.footlights__beam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.2rem;
  height: 0.6rem;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  border-radius: 8px 8px 0 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(60%, rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.8)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.8) 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footlights__bulb {
  width: 1.4rem;
  height: 0.7rem;
  -webkit-transform: translate(0px, 0.35rem);
          transform: translate(0px, 0.35rem);
  -webkit-box-shadow: 0 0 0.5rem 0.1rem white;
          box-shadow: 0 0 0.5rem 0.1rem white;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}
.footlights__focus {
  width: 1.4rem;
  height: 0.7rem;
  -webkit-box-shadow: 0 -1rem 2rem 1rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 -1rem 2rem 1rem rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0.5;
}

.site-header {
  position: relative;
  padding: 1em 1em;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  .site-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.4em;
  z-index: 100;
}
.logo img {
  display: block;
  width: 6em;
  height: 3em;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.53));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.53));
}
.logo .gypsy {
  opacity: 0;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-animation: gypsy 1s 100ms ease-in-out forwards, glow 1s 2s ease-in-out alternate infinite;
          animation: gypsy 1s 100ms ease-in-out forwards, glow 1s 2s ease-in-out alternate infinite;
}
.logo .swing {
  position: relative;
  top: 0.4rem;
  -webkit-transform: translate(-10vh, -10vh);
          transform: translate(-10vh, -10vh);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  opacity: 0;
  -webkit-animation: swing 3s 400ms ease-in-out forwards, glow 1s 2333ms ease-in-out alternate infinite;
          animation: swing 3s 400ms ease-in-out forwards, glow 1s 2333ms ease-in-out alternate infinite;
}
.logo .revue {
  position: relative;
  top: 0.3rem;
  opacity: 0;
  -webkit-transform: translate(150%, 0);
          transform: translate(150%, 0);
  -webkit-animation: revue 1s 800ms ease-in-out forwards, glow 1s 2666ms ease-in-out alternate infinite;
          animation: revue 1s 800ms ease-in-out forwards, glow 1s 2666ms ease-in-out alternate infinite;
}

@-webkit-keyframes glow {
  from {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    opacity: 0.9;
    -webkit-transform: scale(1, 0.98);
            transform: scale(1, 0.98);
  }
}

@keyframes glow {
  from {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    opacity: 0.9;
    -webkit-transform: scale(1, 0.98);
            transform: scale(1, 0.98);
  }
}
@-webkit-keyframes gypsy {
  from {
    -webkit-transform: translate(-150%, 0);
            transform: translate(-150%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes gypsy {
  from {
    -webkit-transform: translate(-150%, 0);
            transform: translate(-150%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: translate(-10vh, -10vh) rotate(90deg);
            transform: translate(-10vh, -10vh) rotate(90deg);
  }
  20% {
    -webkit-transform: translate(0vh, 0vh) rotate(-10deg);
            transform: translate(0vh, 0vh) rotate(-10deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes swing {
  0% {
    -webkit-transform: translate(-10vh, -10vh) rotate(90deg);
            transform: translate(-10vh, -10vh) rotate(90deg);
  }
  20% {
    -webkit-transform: translate(0vh, 0vh) rotate(-10deg);
            transform: translate(0vh, 0vh) rotate(-10deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes revue {
  from {
    -webkit-transform: translate(150%, 0);
            transform: translate(150%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes revue {
  from {
    -webkit-transform: translate(150%, 0);
            transform: translate(150%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
.page-menu {
  display: none;
  padding: 0 0 1em 1em;
  /* Example usage div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover {
        background: blue;
      } // only add the hover effect on desktop browsers
    }
  }
  This can be done
  @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  */
}
@media (min-width: 56.25rem) {
  .page-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.page-menu__container {
  width: max(0.18em * 100, 76%);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1em;
  background: #1d251c;
  overflow: hidden;
}

.menu__container-ul a {
  display: block;
  color: #dddddd;
}
.menu__container-ul h5 {
  color: #bcb8ac;
  font-size: 0.8rem;
  font-weight: 900;
  margin-top: 1.618em;
  margin-bottom: 0.76em;
  border-bottom: 1px solid #bcb8ac;
  padding: 1.618em 0 0.76em 0;
}

/* css for footlight values inverted!!! */
.spotlight {
  position: absolute;
  top: 2.4em;
  left: 5%;
  right: 5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1;
  /* optional light on stage element
  &__light {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.0),
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.3) 75%,
      rgba(175, 53, 53, 0.0) 100%);
      border-radius: 50%;
      transform-style: preserve-3d;
      transform: rotateX(45deg);

      &-container {
        position: relative;
        width: 100%;
        height: 2.5rem;
        top: -4rem;
        perspective: 500px;
      }
  } */
}
.spotlight__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1rem;
  margin-top: 1rem;
  border: 2px solid transparent;
  background: #222222;
}
.spotlight__can {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -1rem;
  width: 1.6em;
  height: 2.2em;
  border: 1px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #222222;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.spotlight__can--max-left {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.spotlight__can--left {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.spotlight__can--center {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.spotlight__can--right {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.spotlight__can--max-right {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.spotlight__beam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.2em;
  height: 1.6em;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  border-radius: 8px 8px 0 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(60%, rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.8)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.8) 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spotlight__bulb {
  width: 1.4rem;
  height: 0.7rem;
  -webkit-transform: translate(0px, 0.35rem);
          transform: translate(0px, 0.35rem);
  -webkit-box-shadow: 0 0 0.5rem 0.1rem white;
          box-shadow: 0 0 0.5rem 0.1rem white;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}
.spotlight__focus {
  width: 1.4rem;
  height: 0.7rem;
  -webkit-box-shadow: 0 -1rem 2rem 1rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 -1rem 2rem 1rem rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */