@use "../abstracts";

.panel {
  border: abstracts.$border;
  border-radius: abstracts.$border-radius;
  padding: abstracts.$padding;
  background: transparentize(abstracts.color(max), .04);
  background-blend-mode: color-dodge;
  backdrop-filter: blur(6px);
  @include abstracts.shadow(3);

  &:hover {
    // background: transparentize(abstracts.color(max), .18);
    @include abstracts.shadow(3);
  }
}