// from ModernCSS.com

// <label class="form-control">
//   <input type="radio" id="" name="" value="" checked>
// Audio 
// </label>

.form-control {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;


  input[type="radio"] {
    --border-size: 0.15em;
    appearance: none;
    display: grid;
    place-content: center;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    aspect-ratio: 1/1;
    border: var(--border-size) solid currentColor;
    border-radius: 50%;
    transform: translateY(-calc(var(--border-size) / 2));
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
}

.form-control+.form-control {
  margin-top: 1em;
}