{% extends 'base.html' %}

{% block title %}
Gypsy Swing Revue | Contact
{% endblock title %}

{% block content %}
<section class="contact container panel">
  <hgroup>
    <h2>Contact Us!</h2>
    <p>
      For booking information, contact:
      <br>
      Elliot Reed at 303.745.7944
      or use the form.
    </p>
  </hgroup>

  {% if messages %}
  {% for message in messages %}

  {% if message.tags == 'success' %}
  <h2 class="heading-3">Thank you for contacting Gypsy Swing Revue!</h2>
  {% endif %}

  <p class="container-blue-600">
    {{ message }}
  </p>
  {% endfor %}

  {% else %}
  <form class="form contact-form " action="" method="POST">
    {% csrf_token %}


    {% include 'core/partials/form-fields.html' with form=contact_form %}

    <button class="button" name="contact" type="submit">
      Send message
    </button>

  </form>

</section>

<div class="container">
  <div class="panel subscribe">
    {% include 'core/partials/newsletter_subscribe.html' %}
  </div>
</div>

{% endif %}

{% endblock content %}