{% extends 'base.html' %}

{% block title %}
Gypsy Swing Revue | Contact
{% endblock title %}

{% block content %}
<section class="container panel">

  {% if messages %}
  {% for message in messages %}

  {% if message.tags == 'success' %}
  <h2 class="heading-3">Thank you for contacting Gypsy Swing Revue!</h2>
  {% endif %}

  <p class="container-blue-600">
    {{ message }}
  </p>
  {% endfor %}

  {% else %}
  <form class="contact-form" action="" method="POST">
    {% csrf_token %}

    <h2>Contact Us!</h2>
    <p>
    <blockquote>
      For booking information, contact:<br>
      Elliot Reed at 303.745.7944
      or use the form.<br>
    </blockquote>
    </p>

    {{contact_form}}

    <button class="button" name="contact" type="submit">
      Send
    </button>

  </form>

</section>

<div class="container">
  <div class="panel subscribe">
    {% include 'core/partials/newsletter_subscribe.html' %}
  </div>
</div>

{% endif %}

{% endblock content %}