<html>

<body style=" font-family: Arial,
              sans-serif;
              font-size: 18px;
              background-color: hsl(26, 17%, 92%);
              color:hsl(26, 17%, 8%);
              margin: 0;
">

  <header style=" background-color: hsl(200, 85%, 40%);
                  color: hsl(26, 17%, 92%);
                  padding: 20px;
  ">
    From the website of Chris Narozny
  </header>

  <main style="padding: 18px;">

    <p>You have a new message from <strong>{{message.name}}</strong></p>

    <br>

    <p>{{message.message}}</p>

  </main>

</body>

</html>