{% extends 'base.html' %}
{% load static %}


{% block title %}
Gypsy Swing Revue | Find Us
{% endblock title %}

{% block content %}

<div class="container">
  <section class="panel feature">
    <h1>Colorado's Premier Gypsy Jazz Band</h1>

    <div class="feature__inner">

      <ul class="nav__item-list nav__item-left">
        <li>
          <a class="link marquee__text" href="/schedule">Schedule</a>
        </li>
        <li>
          <a class="link marquee__text" href="/contact">Contact</a>
        </li>
        
        {% for link in social_links%}
        <li>
          <i class="fa-brands {{ link.icon }}"></i>
          <a class="link marquee__text" href={{link.url}}>
            {{link.content}}
          </a>
        </li>
        {% endfor %}
      </ul> 
  </section>
</div>

{% endblock content %}