{% extends 'base.html' %}
{% load static %}


{% block title %}
Gypsy Swing Revue | Find Us
{% endblock title %}

{% block content %}

  <section class="panel">
    <h1>Find Us</h1>
      <ul class="find-us-list">
        <li>
          <a class="" href="/schedule">Schedule</a>
        </li>
        <li>
          <a class="" href="/contact">Contact</a>
        </li>
        {% for link in social_links%}
        <li>
          <a class="" href={{link.url}}>
          <i class="fa-brands {{ link.icon }}"></i>
            {{link.content}}
          </a>
        </li>
        {% endfor %}
      </ul> 
  </section>

{% endblock content %}