{% extends 'base.html' %}
{% load static %}


{% block title %}
Gypsy Swing Revue | Find Us
{% endblock title %}

{% block content %}

  <section class="panel">
    <h1>Find Us</h1>
      <h2>Site Links</h2>
      <ul class="find-us__site">
        <li>
          <a class="" href="/schedule">
            Schedule
            <i 
              aria-hidden="true" 
              class="fa-solid fa-arrow-up-right-from-square fa-xs"
            ></i>
          </a>
        </li>
        <li>
          <a class="" href="/contact">
            Contact
            <i 
              aria-hidden="true" 
              class="fa-solid fa-arrow-up-right-from-square fa-xs"
            ></i>
          </a>
        </li>
      </ul> 
        
      <h2>Web Links</h2>
        <ul class="find-us__web">
        {% for link in social_links%}
          <li>
            <a class="" href={{link.url}}>
              <i 
                aria-hidden="true" 
                class="fa-brands {{ link.icon }} fa-lg"
            ></i>
              {{link.content}}
              <i 
                aria-hidden="true" 
                class="fa-solid fa-arrow-up-right-from-square fa-xs"
              ></i>
              <span class="visually-hidden">(opens in new tab)</span>
            </a>
          </li>
        {% endfor %}
      </ul> 
  </section>

{% endblock content %}