{% extends 'base.html' %}
{% load static %}
{% load django_vite %}


{% block title %}
  Gypsy Swing Revue | Colorado's Premier Gypsy Jazz Swing Band! | Weddings and Events in the Denver and Boulder Area
{% endblock title %}

{% block script %}
 {% vite_asset 'js/pages/frontPage.js' %}
{% endblock script %}

{% block content %}
  <section class="panel feature">
    <h1>Colorado's Premier Gypsy Jazz Band</h1>

      {% include 'core/partials/viewer.html' with image_prefixes=image_prefixes id="front-page-band-viewer" %}
      
  
      {% include 'core/partials/testimonials.html' with testimonials=testimonials id="front-page-testimonials" %}
  </section>


  {# <div class="container"> #}
    {# <div class="panel subscribe"> #}
      {# {% include 'core/partials/newsletter_subscribe.html' %} #}
    {# </div> #}
  {# </div>  #}

  <!--CONTACT-->
    <div class="panel contact">
      <h2 class="heading-2">Contact Us!</h4>
        <p>303.745.7944</p>
        <a href="/contact" class="link-as-button">Contact Us</a>
    </div>
  <!--END CONTACT-->

{% endblock content %}