{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block title %}
Gypsy Swing Revue | I Love Paris!
{% endblock title %}

{% block content %}

<div class="container">
  <div class="panel">
    <div>
      <p class="heading-5 uppercase">Gypsy Swing Revue presents</h5>
      <h1>"I Love Paris!"
        <span class="heading-3">featuring Kristi Stice</span>
      </h1>
    </hgroup>

    <div class="picture-container">
      <picture >
        <img class="moving-picture" src="{% static '' %}images/iloveparis-1024-768.jpg" alt="" />
      </picture>
    </div>

    <p>Hear the wonderful music of Gypsy Swing Revue combined with the vocal talents of Kristi Stice, in this
      tribute to The Hot Club of France, French music and swingin' Jazz! Showcasing songs such as "La Vie En Rose"
      by Edith Piaff, "Undecided" and "C'est Si Bon" among others. This show is sure to leave you saying "Oui,
      oui, oui!".
    </p>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <div class="panel mypanel" data-equalizer-watch>
      <h5>Gypsy Swing Revue's "I Love Paris" ft. Kristi Stice</h5>
      <p class="video__container">
        {% video vid.url '100% x 100%' %}
      </p>

    </div>
  </div>
</div>

<div class="container">
  <div class="panel">

    <h1>"I Love Paris" Song List</h1>

    <ol>
      {% for song in song_list %}

      <li>{{song.title}}</li>

      {% endfor %}
    </ol>

  </div>
</div>
</div>

{% endblock content %}