{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block title %}
Gypsy Swing Revue | I Love Paris!
{% endblock title %}

{% block content %}
  <section class="panel">
    <hgroup>
      <p class="heading-4 ilp__presents">Gypsy Swing Revue presents</h5>
      <h1>"I Love Paris!"
        <span class="heading-3">featuring Kristi Stice</span>
      </h1>
    </hgroup>

    <div class="picture-container">
      <picture >
        <img class="moving-picture" src="{% static '' %}images/iloveparis-1024-768.jpg" alt="" />
      </picture>
    </div>

    <p><strong>Show is currently unavailable</strong></p>

    <p>Hear the wonderful music of Gypsy Swing Revue combined with the vocal talents of Kristi Stice, in this
      tribute to The Hot Club of France, French music and swingin' Jazz! Showcasing songs such as "La Vie En Rose"
      by Edith Piaff, "Undecided" and "C'est Si Bon" among others. This show is sure to leave you saying "Oui,
      oui, oui!".
    </p>
  </section>

  <div class="panel">
    <h2 class="heading-2 ilp__video-title">
      <span>Gypsy Swing Revue's</span>
          "Beyond The Sea" 
      <span>ft. Kristi Stice</span>
    </h2>
    <div class="ilp__video-container">
      {% include "core/partials/iframe.html" with filename=vid title="La Mer from Blue Roots Denver" %}
    </div>
  </div>


  <div class="panel">
    <h2>"I Love Paris" Song List</h2>

    <ol class="ilp__song-list">
      {% for song in song_list %}
        <li>{{song.song.title}}</li>
      {% endfor %}
    </ol>
  </div>
{% endblock content %}