{% extends 'base.html' %}
{% load static %}


{% block title %}
Gypsy Swing Revue | Find Us
{% endblock title %}

{% block content %}

<section class="panel">
  <h2>Notable festivals and events</h2>
  
  <ul>
    <li>Opera Colorado 2019 Gala</li>
    <li>KUVO 89.3 FM Broadcast</li>
    <li>Bohemian Nights</li>
    <li>Five Points Jazz Festival</li>
    <li>Evergreen Jazz Festival</li>
    <li>Beaver Creek Wine & Spirits Festival</li>
    <li>Under Paris Skies</li>
  </ul>
</section>

<section class="stage-plot panel">
  <h2>Stage Plot</h2>
    <span class="audience-view">Audience View: Left to Right</span>
    <ul class="plot-list">
      {% for plot in stage_plots %}
      <li class="plot-list-item" id="{{ plot.id }}">
        <span class="musician">{{ plot.musician }}</span>
        {% for instrument in plot.instruments %}
          <span class="instruments">{{ instrument.instrument }}</span>
        {% endfor %}
          
        <ul class="instrument-list">
        {% for instrument in plot.instruments %}
          <li>
            <span class="instrument">{{ instrument.instrument }}</span>
            <span class="output">
              <span class="output-label">Output:</span>
               <span class="output-value">{{ instrument.output }}</span>
              </span>
          </li>
            {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>

    <p class="audience">Audience</p>
</section> 

<section class="panel">
  <h2>Testimonials</h2>
          {% include 'core/partials/testimonials.html' with testimonials=testimonials id="media-kit-testimonials" %}
</section> 

<section class="panel">
  <h2>Song List</h2>
  Check out our <a href="/songs">song list</a>!
</section> 

<section class="panel">
  <h2>3 to 5 Pictures</h2>
  
    <img loading="lazy" srcset="{% static '' %}images/media_kit/starlight_1024.jpg" alt="" />
    <img loading="lazy" srcset="{% static '' %}images/media_kit/snug_1024.jpg" alt="" />
    <img loading="lazy" srcset="{% static '' %}images/media_kit/christmas_1024.jpg" alt="" />
    <img loading="lazy" srcset="{% static '' %}images/media_kit/snug-basement_1024.jpg" alt="" />
</section> 


<section class="panel" id="bio">
  <h2>About The Band</h2>
    <p>Gypsy Swing Revue is a group based in the Denver metro area of
      Colorado. They perform music in the "Hot Club" style popularized
      by Django Reinhardt and Stephane Grappelli in Paris during the 30's
      and 40's. The focus is on tight arrangements with plenty of room for
      jazz improvisation. With a mix of instrumental pieces and vocals,
      this energetic music is fun for everyone.
    </p>

    <p>
      Formed in the before times, by Elliot Reed, they have been a staple of the Denver music scene. Their acclaimed show "Under Paris Skies ft. Lannie Garret" sold out shows in the Clocktower Cabaret. They have performed live on KUVO radio, and at many Colorado music festivals. Their exceptionally long stint at The Irish Snug was dubbed the best place to go in Denver on Wednesdays by The Denver Post. Newly reformed after a Covid hiatus, they are still swingin'.
    </p>
</section> 

<section class="panel">
  <h2>Videos</h2>
    <div class="media-kit__video-container">

    {% for video in youtube_videos %}
      {% include "core/partials/iframe.html" with filename=video.filename title=video.title %}
    {% endfor %}
  </div>
</section> 

<section class="panel">
  <h2>Web Links</h2>
  {% include 'core/partials/social-links.html' with social_links=social_links %}
</section> 

{% endblock content %}






