{% extends 'base.html' %}

{% block title %}
Gypsy Swing Revue | Performance
{% endblock title %}

{% block content %}
<div class="panel">
  <a href="{% url 'core:schedule' %}">Back to schedule</a>
</div>

<section class="panel">
{% include 'core/partials/performance-datetime.html' with events=events %}

  <h1 class="performance__title">
    {{event.event_name}}
  </h1>

  <dl class="performance__details">
    {% include 'core/partials/venue.html' with events=events %}
    
    <div class="performance-musicians">
      <dt class="performance-musicians__term">Musicians:</dt>
      <dd class="performance-musicians__description">
        <ul class="performance-musicians__list">
          {% for musician in event.musicians.all %}
          <li>{{musician.entity_name}}</li>
          {% endfor %}
        </ul>
      </dd>
    </div>
  </dl>
</section>
{% endblock content %}