@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "defaults";
@use "../_user/config";

@function resolve($override, $default) {
    @if $override !=null {
        @return $override;
    }

    @return $default;
}

$fonts: map.merge(defaults.$fonts, config.$font-overrides);
$type-base: resolve(config.$type-base-override, defaults.$type-base);
$type-ratio: resolve(config.$type-ratio-override, defaults.$type-ratio);
$content-width: resolve(config.$content-width-override, defaults.$content-width);

$colors: map.merge(defaults.$colors, config.$color-overrides);
$color-scheme: resolve(config.$color-scheme-override, defaults.$color-scheme);

$box-ratio: resolve(config.$box-ratio-override, defaults.$box-ratio);
$radius-base: resolve(config.$radius-base-override, defaults.$radius-base);
$space-unit: resolve(config.$space-unit-override, defaults.$space-unit);

$shadow-offset-base: resolve(config.$shadow-offset-base-override, defaults.$shadow-offset-base);
$shadow-hardness: resolve(config.$shadow-hardness-override, defaults.$shadow-hardness);
$shadow-direction: resolve(config.$shadow-direction-override, defaults.$shadow-direction );

$breakpoints: map.merge(defaults.$breakpoints, config.$breakpoint-overrides);

// if project has set any weights, use theirs entirely
// otherwise fall back to defaults
$font-weights: defaults.$font-weights;

@if map.keys(config.$font-weight-overrides) !=() {
    $font-weights: config.$font-weight-overrides;
}