{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="manifest" href="{% static 'manifest.webmanifest' %}"> -->
  <!-- <link rel="shortcut icon" href="{% static 'images/icons/icon-512x512.png' %}"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <script defer src="{% static 'js/app.js' %}"></script>
  {% block script %}{% endblock script %}
</head>

<body class="site-background">

  {% include 'header.html' %}

  {% include 'partials/page_menu.html' %}

  <main class="main scrollabel-content" data-main-scroll>
    {% block content %}
    {% endblock content %}
  </main>

  {% include 'footer.html' %}

</body>

</html>