<footer>
  <div class="footlights">
    <div class="footlights__stage">
      <div class="footlights__can footlights__can--max-left">
        <div class="footlights__beam"></div>
      </div>
      <div class="footlights__can footlights__can--left">
        <div class="footlights__beam"></div>
      </div>
      <div class="footlights__can footlights__can--center">
        <div class="footlights__beam"></div>
      </div>
      <div class="footlights__can footlights__can--right">
        <div class="footlights__beam"></div>
      </div>
      <div class="footlights__can footlights__can--max-right">
        <div class="footlights__beam"></div>
      </div>
    </div>
  </div>

  <nav class="footer__nav">
    <a href="/band" title="Band Menu">
      <i class="fa-solid fa-music"></i>
      The Band
    </a>
    <a class="store" href="store" title="Store Menu">
      <i class="fa-solid fa-store"></i>
      Store
    </a>
    <a class="media-btn" href="/media" title="Media Menu">
      <i class="fa-solid fa-photo-film"></i>
      Media
    </a>
    <a class="social-media" href="/socialmedia" title="Social Media Menu">
      <i class="fa-solid fa-users"></i>
      Social
    </a>
  </nav>
</footer>