{% load static %}

<header class="site-header">

  <a class="logo" href="/">
    <img class="gypsy" src="{% static 'images/logo/Gypsy.svg' %}" alt="logo" />
    <img class="swing" src="{% static 'images/logo/Swing.svg' %}" alt="logo" />
    <img class="revue" src="{% static 'images/logo/Revue.svg' %}" alt="logo" />
  </a>

  <!-- <Spotlight /> -->
  <div class="spotlight">
    <div class="spotlight__stage">
      <div class="spotlight__can spotlight__can--max-left">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--left">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--center">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--right">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--max-right">
        <div class="spotlight__beam"></div>
      </div>
    </div>
  </div>
</header>