{% load static %}

<header class="site-header">

  {% include 'partials/logo.html' %}

  <!-- <Spotlight /> -->
  <div class="spotlight">
    <div class="spotlight__stage">
      <div class="spotlight__can spotlight__can--max-left">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--left">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--center">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--right">
        <div class="spotlight__beam"></div>
      </div>
      <div class="spotlight__can spotlight__can--max-right">
        <div class="spotlight__beam"></div>
      </div>
    </div>
  </div>
</header>