@use '../abstracts';

.logo {
  $ease: ease-in-out;
  position: relative;
  display: inline-flex;
  gap: .4em;
  z-index: 100;

  img {
    display: block;
    width: 6em;
    height: 3em;
    filter: drop-shadow(0 3px 3px transparentize(abstracts.color(min), .47));
    filter: drop-shadow(4px 4px 1px transparentize(abstracts.color(gold, 400), .8));
  }

  .gypsy {
    $glow-delay: 2s;
    $glow-animation: glow 1s $glow-delay $ease alternate infinite;
    $gypsy-animation: gypsy 1s 100ms $ease forwards;
    animation: $glow-animation;

    &.should-animate {
      animation: $glow-animation, $gypsy-animation;
      opacity: 0;
      transform: translate(-150%, 0);
    }
  }

  .swing {
    $glow-delay: 2333ms;
    $glow-animation: glow 1s $glow-delay $ease alternate infinite;
    $swing-animation: swing 3s 400ms $ease forwards;
    position: relative;
    top: .4rem;
    animation: $glow-animation;

    &.should-animate {
      animation: $glow-animation, $swing-animation;
      opacity: 0;
      transform: translate(-10vh, -10vh);
      transform-origin: 50%;
    }
  }

  .revue {
    $glow-delay: 2666ms;
    $glow-animation: glow 1s $glow-delay $ease alternate infinite;
    $revue-animation: revue 1s 100ms $ease forwards;
    position: relative;
    top: .3rem;
    animation: $glow-animation;

    &.should-animate {
      animation: $glow-animation, $revue-animation;
      opacity: 0;
      transform: translate(-150%, 0);
    }
  }
}

@keyframes glow {
  from {
    opacity: 1;
    transform: scale(1, 1)
  }

  to {
    opacity: 0.9;
    transform: scale(1, .98)
  }
}

@keyframes gypsy {
  from {
    transform: translate(-150%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes swing {
  0% {
    transform: translate(-10vh, -10vh) rotate(90deg);
  }

  20% {
    transform: translate(0vh, 0vh) rotate(-10deg);
    opacity: 1;
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(5deg);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes revue {
  from {
    transform: translate(150%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}