<div id="logo-wrapper">
  <Link to={`/`} id="logo">
    <Gypsy />
    <Swing />
    <Revue />
  </Link>
</div>
<ul id="menu__container-ul">
  <label>Find Us</label>
  <Link to={`/schedule`}>Schedule</Link>
  <Link to={`/contact#contact`}>Contact</Link>
  <Link to={`/contact#newsletter__subscribe`}>Subscribe to our newsletter</Link>
  <label>I Love Paris</label>

  <Link to={`/iloveparis`}>I Love Paris</Link>
  <label>The Band</label>

  <Link to={`/theband#band`}>the Band</Link>

  <Link to={`/theband#musicians`}>the Musicians</Link>
  <label>The Music</label>

  <Link to={`/theband/#genre`}>the Genre</Link>
  <Link to={`/songlist`}>Songlist</Link>
</ul>